body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-image: url(../img/HEADER-BG.png);
    width: 100vw;
    min-height: 80vh;
    background-size: cover;
    filter: brightness(0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    z-index: 100000;
    transition: all 0.4s ease-in-out;
}

.navbar-scrolled {
    background-color: #2f2f2f;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

.navbar-brand img {
    width: 20vh;
}

.slogan img {
    min-width: 22vh;
}


.antes-depois img {
    max-width: 100%;
    width: 300px;
}

.antes-img {
    filter: grayscale(100);
}

.slideshow img {
    margin: 0 10px;
    width: 300px;
}

.slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
    filter: brightness(.5);
    /* opacity: .75; */
}

.slick-slide img {
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}

.slick-center {
    transform: scale(1.1);
    filter: brightness(1);
    opacity: 100;
}

@media (max-width: 1200px) {
    header {
        min-height: 60vh;
    }

    .navbar-brand img {
        width: 18vh;
    }

    .slogan img {
        min-width: 20vh;
    }


}

@media (max-width: 768px) {
    header {
        min-height: 40vh;
    }

    .navbar {
        position: relative;
    }

    .navbar-brand img {
        min-width: 16vh;
    }

    .slogan img {
        min-width: 18vh;
    }

    .slideshow img {
        margin: 0 0px;
        width: 200px;
    }

}